<!DOCTYPE html>
<html>
  <head>
    <title>Renting</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <%# <body class="animsition"> %>
  <body class="">
    <%= render("header") %>
    <%= render("flash") %>
    <%= yield %>
  </body>
</html>
